.main {
  margin-left: 33%;
  margin-right: 33%;
}

input, textarea {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

button {
  margin-top: 6px;
  margin-bottom: 6px;
} 

.header {
  margin-top: 7px;
}

.header, .education {
  border-bottom: 2px solid black;
}